.flexbox{
	display: flex;
	border: 2px solid #05b5be;
	justify-content: space-evenly;
	flex: 1;
}

.links{
	display: flex;
	flex-grow: 1;
	justify-content: space-around;
	align-content: center;
}

img{
	display: inline-block;
	border-radius: 15px;
	height: 65px;
	width: 65px;
}

a{
	color: #D286AB;	
	background-color: ;
	text-decoration: none;
	font-size: 25px;
	font-family: monospace;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 35%;
  width: 35%;
}